/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

body {
    font-family: Arial, Helvetica, sans-serif;}

button, summary {
	cursor: pointer;
    line-height: 1.5;
    padding: 15px 40px;
    font-size: 20px;
    line-height: 20px;
    width: 195px;
    text-align: center;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #735e56;
    --color-text-rgb: 115, 94, 86;
    --color-body-text: #735e56;

    --font-style-body: normal;
    --font-weight-body: 400;
    --font-size-header: 26;
    --font-size-base: 15;
    --font-h1-desktop: 35;
    --font-h1-mobile: 32;
    --font-h2-desktop: 20;
    --font-h2-mobile: 18;
    --font-h3-mobile: 20;
}



h2:first-child{
    font-size: 40px;
    text-align: center;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}

/*vvvvvvvvvvvvvvvvvvv "try now" knop vvvvvvvvvvvvvvvvvvvvvvvvvv */
button{
    color: #fff;
    background: rgba(255,129,43,1);
    border-radius: 100px;
    border: none;
}
/*^^^^^^^^^^^^^^^^^^^^ "try now" knop ^^^^^^^^^^^^^^^^^^^^^^^ */



/*vvvvvvvvvvvvvvvvvvv "find your" secties vvvvvvvvvvvvvvvvvvvvvvvvvv */
section ul{
    display: flex;
    text-align: center;
    padding-bottom: 40px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around ;
    flex: 1;
    
}

ul>li{
    flex: auto ;
    flex-grow: 1;
    order: 3;
}

/*^^^^^^^^^^^^^^^^^^^^ find your" secties ^^^^^^^^^^^^^^^^^^^^^^^ */









/**********************************************vvvv mijn code vvvv************************************************/




/************^*******/
/*VVVV HEADER VVVV */
/********************/

/*vvvvvvvvvvvvvvvvvvv De aankondiging vvvvvvvvvvvvvvvvvvvvvvvvvv */
header p {
    font-weight: bolder;
    color: #ffffff;
    background-color: #75b91d;
    width: 100%;
    border-radius: 0 0 30px 30px;
    text-align: center;
    padding: 11px 22px;
    display: block;
}
/*^^^^^^^^^^^^^^^^^^^^ De aankondiging ^^^^^^^^^^^^^^^^^^^^^^^ */




/*vvvvvvvvvvvvvvvvvvv De "talen"knop + zoekbalk" vvvvvvvvvvvvvvvvvvvvvvvvvv */
form, input{
    border-radius:30px;
    border: 2px solid #735E56;
    padding: 8px 28px 8px 15px;
    line-height: 1.5;
    margin-bottom: 10px;
}
/*^^^^^^^^^^^^^^^^^^^^ De "talen"knop + zoekbalk" ^^^^^^^^^^^^^^^^^^^^^^^ */





/*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv Nav bar vvvvvvvvvvvvvvvvvvvvvvvvvvv */
.logo{
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-top: 15px;
}

nav{
    list-style: none;
    width: 100%;
    background-color: #ffffff;
    position: sticky;
}

nav > a {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    height: 80px;
    line-height: 1.5;
    text-decoration: none;
    font-size: 14px;
    color: #735e56;
    padding: 12px;
    
}

nav a:hover {
    color: #75b91d;
  }
  
nav.active {
    background-color: #75b91d;
    padding: 12px;
    border: #75b91d;
/*^^^^^^^^^^^^^^^^^^^^^^^^ Nav bar ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */


/************^*******/
/*^^^^ HEADER ^^^^ */
/********************/







/************^*******/
/*vvv section 1 vvv */
/********************/


/************^*******/
/*^^^^ section 1 ^^^^ */
/********************/









/************^*******/
/*vvv section 2 vvv */
/********************/


/************^*******/
/*^^^^ section 2 ^^^^/
/********************/




/************^*******/
/*VVVV FOOTER VVVV */
/********************/

footer ul:second-child{

}

aside{
    font-size: 10px;
    line-height: 14px;
    margin-left: 30px;
    padding-left: 30px;
    color: #ffffff;
}

footer{
background-color: #391f15;
}
/************^*******/
/*^^^^ FOOTER ^^^^ */
/********************/
