/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #735e56;
    --color-text-rgb: 115, 94, 86;
    --color-body-text: #735e56;


    --font-h1-desktop: 35;
    --font-h1-mobile: 32;
    --font-h2-desktop: 20;
    --font-h2-mobile: 18;
    --font-h3-mobile: 20;
    --font-h4-desktop: 17;
    --font-h4-mobile: 15;
    --font-h5-desktop: 15;
    --font-h5-mobile: 13;
    --font-h6-desktop: 14;
    --font-h6-mobile: 12;
}

/*vvvvv Nog niet gebruikt (eigenschappen van de "H's" uit de website vvvvv */
.two{
	display: block;
	font-size: 40px;
    line-height: 48px;
	font-family: Sofia Pro,sans-serif;
    font-style: normal;
    font-weight: 700;
	color: #75b91d;
    text-transform: inherit;
    letter-spacing: inherit;
	margin: 0 0 17.5px;
	word-wrap: break-word;
}

.three{
	display: block;
	font-family: Sofia Pro,sans-serif;
    font-style: normal;
    font-weight: 700;
	text-align: center;
    font-size: 50px;
    line-height: 60px;
    color: #ff812b;
	text-transform: none;
    letter-spacing: 0;
	margin: 0 0 17.5px;
	margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
	word-wrap: break-word;
}

.four{
	font-family: Sofia Pro,sans-serif;
    font-style: normal;
    font-weight: 700;
	text-align: center;
    font-size: 30px;
    line-height: 35px;
	color: #fff;
	margin: 0 0 17.5px;
	word-wrap: break-word;
	display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}



/****************/
/* JOUW STYLING */
/****************/


/* navigatie balk vv */

	  /* navigatie balk ^^ */
	  

	  /* JOUW STYLING */
